.sideBar {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  width: 400px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  padding-left: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  color: #e7e9ea;
  z-index: 1;

  > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 250px;
    > :first-child {
      > svg {
        font-size: 35px;
      }
    }

    .sideBarBtn {
      margin: 10px 0;
      // width: 80%;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 3;
      cursor: pointer;
      transition: all 0.5s ease-in-out;

      > svg {
        margin-right: 5px;
        font-size: 28px;
      }
      > p {
        font-size: 20px;
        font-weight: 400;
      }
    }
    .sideBarBtn:hover {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 20px;
    }

    .more{
      position: relative;

      >div{
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        top: -70px;
        left: 0;
        font-weight: 700;
        width: 150px;
        font-size: 15px;
        height: 70px;
        background: #000000;
        box-shadow: 3px 3px 15px 2px rgba(255, 255, 255, 0.329),
        -3px -3px 15px 2px rgba(255, 255, 255, 0.329);
      }

      >.active{
        display: flex;
      }
    }

    > button {
      background: rgb(29, 155, 240);
      color: white;
      font-weight: 700;
      font-size: 15px;
      border: none;
      outline: none;
      padding: 1rem 5rem;
      margin-top: 20px;
      border-radius: 25px;
      transition: all 0.1s ease-in-out;
      cursor: pointer;
    }
    > button:hover {
      background: rgb(0, 136, 255);
    }

    .bottom {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000;
      font-family: sans-serif;
      width: 80%;
      justify-content: space-between;
      font-size: 13px;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      position: relative;
      padding: 10px;

      > :first-child {
        transform: scale(0);
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 0px;
        width: 0;
        height: 0;
        top: -100px;
        background: #000;
        transition: all 0.5s ease-in-out;
        box-shadow: 3px 3px 15px 2px rgba(255, 255, 255, 0.329),
          -3px -3px 15px 2px rgba(255, 255, 255, 0.329);
        border-radius: 10px;
      }

      > img {
        width: 50px;
        border-radius: 100%;
      }
      > svg {
        margin-right: 15px;
        font-size: 20px;
      }
    }
    .bottom:hover {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 25px;

      > :first-child {
        width: 180px;
        height: 100px;
        transform: scale(1);
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 1000px) {
  .sideBar {
    display: none;
  }
}
